# Environment
NODE_ENV=development

# Server
PORT=5000

# Database
# DATABASE_URL=mongodb://localhost:27017/photo_book

DATABASE_URL=mongodb+srv://<username>:<password>@cluster0.6soco.mongodb.net/photo-book?retryWrites=true&w=majority&appName=Cluster0


# Security
BECRYPT_SALT_ROUNDS=10
JWT_SECRET=8f3c1a6e72e9f9a5c62c4e2a4e62f0d3a96dbf3c5a2f34a9f8f22b9c4c5a6f89a1e3f2b9d3f7e1c8d4e7f2b9c6a5d3f2
JWT_EXPIRES_IN=1d
